[submodule "push_swap"]
	path = push_swap
	url = git@github.com:jis-kim/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:jis-kim/minitalk.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:strawberryShell/minishell.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:jis-kim/philosophers.git
[submodule "miniRT"]
	path = miniRT
	url = git@github.com:strawberryShell/miniRT.git
[submodule "cpp-modules"]
	path = cpp-modules
	url = git@github.com:jis-kim/cpp-modules.git
[submodule "webserv"]
	path = webserv
	url = https://github.com/brilliantshell/webserv.git
