[submodule "push_swap"]
	path = push_swap
	url = git@github.com:jis-kim/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:jis-kim/minitalk.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:strawberryShell/minishell.git
